<!DOCTYPE html>
<html>
    <head>
        <meta charset="UTF-8">
        <meta content="width=device-width, initial-scale=1.0" name="viewport">

        <title>Administrator Home Page</title>
    </head>
    <body>
        <div class="navbar-nav">
            <a href="{{ url_for('administrator_homepage') }}">Home</a>
            <a href="">To Do</a>
            <a href="{{ url_for('administrator_view_applications') }}">View Applications</a>
            <a href="{{ url_for('final_forms') }}">Final Forms</a>
            <form action="" method="POST" >
                <button type="submit" class="open" name="logout" value="">
                    Logout
                </button>
            </form>
        </div>
    </body>
</html>