<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="UTF-8">
    <title>Homepage</title>
</head>

<body>
    {% extends 'main_page.html' %}

    {% block nav_content %}

    {% for role in user.role %}
    {% if role.role == "Erasmus Coordinator" %}
    <li class="nav-item">
        <a class="nav-item nav-link" href="/ec/home">Switch to Erasmus Coordinator</a>
    </li>
    {% endif %}
    {% endfor %}

    <li class="nav-item">
        <form action="" method="POST">
            <button type="logout" class="logoutButton" style="padding-top:5px; margin-top:3px" name="logout" value="">
                Logout
            </button>
        </form>
    </li>

    {% endblock %}

    {% block content %}
    <style>
        .block {
            margin: 10px;
            background: linear-gradient(144.39deg, #FFFFFF -278.56%, #6D6D6D -78.47%, #0D0C15 91.61%);
        }

        h1 {
            background: radial-gradient(64.18% 64.18% at 71.16% 35.69%, #E9DEFA 0.89%, #BEF3F5 17.23%, #9DEDF0 42.04%, #7DE7EB 55.12%, #5CE1E6 71.54%, #33BBCF 100%)
                /* warning: gradient uses a rotation that is not supported by CSS and may not behave as expected */
            ;
            -webkit-background-clip: text;
            -webkit-text-fill-color: transparent;
            background-clip: text;
        }
    </style>
    <div class="row justify-content-around" style="margin:30px;">
        <div class="col-xl-7 col-lg-8 col-md-10 block">
            <div style="padding:10px">
                <h1>Last Proposals</h1>
                <table class="table table-responsive table-light table-striped table-bordered">
                    <thead>
                        <tr>
                            <th scope="col">#</th>
                            <th scope="col">Course Name</th>
                            <th scope="col">University Name</th>
                            <th scope="col">Bilkent Course</th>
                            <th scope="col">Syllabus</th>
                            <th scope="col">Course Website</th>
                            <th scope="col">Approve</th>
                            <th scope="col">Reject</th>
                        </tr>
                    </thead>
                    <tbody>

                        {% set i = namespace(value=1) %}
                        {% set bilkent_course = namespace(name = placeholder) %}
                        {% for course in user.courses %}
                        {% if course.is_elective == 0 %}
                        {% if course.approval_status != "Approved" %}
                        {% if course.approval_status != "Rejected" %}
                        <tr>
                            <th scope="row">{{i.value}}</th>

                            <td>{{course.course_name}}</td>

                            <td>{{getUniversityName(course.university_id)}}</td>

                            <td>{{getBilkentCourseName(course.equivalent_bilkent_course)}}</td>

                            <td>
                                <form action="" method="POST">
                                    <button type="submit" class="open" name="Download" value="{{ course.course_id }}">
                                        Download Syllabus
                                    </button>
                                </form>
                            </td>
                            <td><a href="{{course.web_page}}" target="_blank" rel="noreferrer noopener">Course
                                    Website</a></td>
                            <td>
                                <form action="" method="POST">
                                    <button type="submit" class="open" name="Approve" value="{{ course.course_id }}">
                                        Approve
                                    </button>
                                </form>
                            </td>
                            <td>
                                <form action="" method="POST">
                                    <button type="submit" class="open" name="Reject" value="{{ course.course_id }}">
                                        Reject
                                    </button>
                                </form>
                            </td>
                        </tr>
                        {% set i.value = i.value + 1 %}
                        {% endif %}
                        {% endif %}
                        {% endif %}
                        {% endfor %}
                    </tbody>
                </table>
            </div>
        </div>
        <style>
            .logoutButton {
                background: none;
                color: rgb(224, 214, 214);
                border: none;
                margin: 0;
                padding: 0;
            }
        </style>
        <div class="col-xl-4 col-lg-6 col-md-8 block" style="padding:20px;">
            <div style="background-color:white; padding:5px">
				<div class="container">
					<div id="calendar"></div>
				</div>
			</div>
            <h2 style="padding-top:10px; padding-bottom:5px;background: radial-gradient(64.18% 64.18% at 71.16% 35.69%, #E9DEFA 0.89%, #BEF3F5 17.23%, #9DEDF0 42.04%, #7DE7EB 55.12%, #5CE1E6 71.54%, #33BBCF 100%) /* warning: gradient uses a rotation that is not supported by CSS and may not behave as expected */;
            -webkit-background-clip: text;
            -webkit-text-fill-color: transparent;
            background-clip: text;
            ">Closing Deadlines</h2>
            <!-- for loop -->
            <div style="margin-top:10px;margin-left:20px;background-color:white">
                Insert Deadline Here
            </div>

        </div>
    </div>

    <link rel="stylesheet" href="https://cdn.jsdelivr.net/npm/fullcalendar@5.11.3/main.min.css"/>
	<script src="https://cdn.jsdelivr.net/npm/fullcalendar@5.11.3/main.min.js"> </script>
	<link rel="stylesheet" href="https://cdn.jsdelivr.net/npm/fullcalendar@5.11.3/main.min.css"/>
	<script src="https://cdn.jsdelivr.net/npm/fullcalendar@5.11.3/main.min.js"> </script>
	<script type="text/javascript" src="/static/calendar.js"></script>
	<script type="text/javascript">
		window.addEventListener("load", consoleInit({{deadline_list|tojson}}));
	</script>
    {% endblock %}
</body>

</html>